* {
    font-family: sans-serif;
    max-width: 1024px;
    margin: auto;
}
h1 {
    background-color: aqua;
    float: left;
    display: block;
    text-align: left;
    width: 30%;
}

li {
    display: inline;
}


.elements {
    float: left;
    width: 40%;

    background-color: aquamarine;
    padding-bottom: 19px;

}
.link {
    float: left;
    width: 26%;
    text-align: right;
    background-color: aqua;
    padding-bottom: 19px;
}

.container{
    float: left;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 80px;
    background-color: antiquewhite;
    padding: 34px;
    width: 60%;
    grid-template-areas:
    'header header header header header header'
    'left left middle middle right right'
    'footer footer footer footer footer footer';

}
.headline {
    grid-area: header;
}

.paragraph {
    grid-area: middle;
}

.art1 {
    grid-area: left;

}

aside {
    background-color: coral;
    padding-bottom: 183px;
    text-align: center;
}

footer {
    background-color: cadetblue;
}


